<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:component-scan base-package="com.shykhmat.api" />

	<mvc:resources mapping="/**" location="/" />

	<mvc:annotation-driven />

	<bean id="documentationController" class="org.jsondoc.springmvc.controller.JSONDocController">
		<constructor-arg name="version" value="1.0" />
		<constructor-arg name="basePath" value="http://localhost:8080/jsondoc-springmvc" />
		<constructor-arg name="packages">
			<list>
				<value>com.shykhmat.api</value> <!-- packages in which you have your spring controllers -->
			</list>
		</constructor-arg>
		<property name="playgroundEnabled" value="true" /> <!-- optional -->
		<property name="displayMethodAs" value="URI" /> <!-- optional -->
	</bean>
</beans>